.headshot{
  max-width: 500px;
  max-height: 500px;
}

.body-large{
  display: flex;
}

.intro-head{
  font-size: xx-large;
  margin-left: 10%;
}

.intro-body{
  font-size: x-large;
  width: 50%;
  margin-left: 10%;
}

.intro{
  display: flex;
  flex-direction: column;
  margin-top: 10%;
}

.body-small{
  display: none;
  flex-direction: column;
}

.body-small-header{
  display: flex;
  align-items: center;
}

.hide-fed-details{
  display: none;
}

.show-molex-details{
  display:block;
  margin-left: 5%;
  margin-top: 5%;
  font-size: large;
}

.hide-molex-details{
  display: none;
}

.show-rv-details{
  display:block;
  margin-left: 5%;
  margin-top: 5%;
  font-size: large;
}

.hide-rv-details{
  display: none;
}

.show-fed-details{
  display:block;
  margin-left: 5%;
  margin-top: 5%;
  font-size: large;
}

.basic-info{
  display:block;
  margin-left:5%;
}

#align-titles{
  margin-left:5%;
  font-size:large;
}

.logos{
  max-height: 200px;
  margin-top: 3%;
  margin-left: 5%;
}

.logos:hover{
  max-width: 480px;
  max-height:250px;
  cursor: pointer;
}

.personal{
  max-width: 300px;
  max-height: 300px;
}

.info-row{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around
}

.pic-info-text{
  margin-left:2%;
  max-width: 50%;
}

#molex{
  max-width:450px;
}

#rv{
  max-width: 430px;
}

#molex:hover{
  cursor: pointer;
}

.large-professionexperience{
  display: flex;
  flex-direction: row;
  margin-left: 4%;
  margin-right: 4%;
  margin-top: 3%;
  justify-content: center;
}

.tech-skills{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 1%;
}

.tech-skills-titles{
  font-size: large;
  display: flex;
  flex-direction: column;
}

.unmc-img{
  width: 200px;
}

.contact-body{
  font-size: large;
}

.about-me-title{
  text-align: center;
  font-size: large;
  margin-top: 1%;
  margin-bottom: 1%;
}

.unmc-image-col{
  display: flex;
  flex-direction: column;
}

.unmc-desc{
  margin-left: 5%;
  width: 65%;
}

.unmc{
  font-size: large;
  display: flex;
  align-items: center;
  margin-left: 10%;
}

.college-intro{
  font-size: xx-large;
  margin-left: 35%;
  width: max-content
}

.about-intro{
  font-size: xx-large;
  margin-left: 110%;
  width: max-content
}

.message{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: large;
}

.message-space{
  margin: 4%;
}

.time {
  position: relative;
  bottom: 120%;
  float: right;
  right: 10%;
  font-size: xx-large;
}

@media screen and (max-width: 600px){
  .headshot{max-width: 200px; max-height: 200px;margin-left:5%;margin-top:6%;}
  .body-large{display: none;}
  .body-small{display:flex;}
  .intro-head{margin-left:8%;margin-top: 4%;}
  .intro-body{width: 90%;
    margin-left: 5%;
    margin-top: 3%;}
    .info-row{flex-direction: column;}
  .pic-info-text{margin-bottom: 1%}
  .personal{margin-bottom: 1%;}
  .intro{width:0px;}
}

@media screen and (max-width: 500px){
  .large-professionexperience{flex-direction: column;}
  .basic-info{ display: flex;
    align-items: center;
    flex-direction: column;}
  .unmc{flex-direction: column;}
}